<!DOCTYPE html>

<html>
  <head>
    <title>Desafio 2-2: Página de descrição</title>
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styleDesafio.css">
  </head>

  <body>
    <header>
      
      <div id="menu" class="links">

          <img src="/rocketseatLogo.jpg" alt="">
          
          <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
          <a href="mailto:oi@rocketseat.com.br">Email</a>
          <a href="tel:+5547992078767">Telefone</a>  
          <a href="/courses">Conteúdo</a>
          <a href="/">Voltar ao Início</a>  
          
      </div>
    </header>

    <section class="cards">
      <div id="wrapper">
        <img src="/Wallpaper.png" alt="">
      </div>

      <div id="wrapper">
        <h1>Sobre a Empresa</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis labore facilis ab molestiae aspernatur earum porro nisi inventore doloribus dolorum nobis dicta, dolores obcaecati quidem quaerat tempore illo incidunt voluptate?          
        </p>
        <ul>
          <li><a href="">Tecnologias</a>
            <ul>
              <li><a href="">HTML5</a></li>
              <li><a href="">CSS3</a></li>
              <li><a href="">JavaScript</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </section>

    <div id="links-footer" class="links">

      <a href="https://github.com/vinyshoow" target="_blank">Github</a>
      <a href="https://www.facebook.com/Vinizikasz" target="_blank">Facebook</a>
      <a href="https://www.linkedin.com/in/vinicius-lopes-35051511b/" target="_blank">LinkedIn</a>
      
    </div>

  </body>

</html>