{% extends "layout.njk" %}

{% block head %}
  <title>About</title>
  <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon">
{% endblock %}

{% block content%}

<section class="cards">
  <div id="wrapper">
    <img src="/Wallpaper.png" alt="">
  </div>

  <div id="wrapper">
    <h1>Sobre a Empresa</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis labore facilis ab molestiae aspernatur earum porro nisi inventore doloribus dolorum nobis dicta, dolores obcaecati quidem quaerat tempore illo incidunt voluptate?          
    </p>
    <ul>
      <li><a href="">Tecnologias</a>
        <ul>
          <li><a href="">HTML5</a></li>
          <li><a href="">CSS3</a></li>
          <li><a href="">JavaScript</a></li>
        </ul>
      </li>
    </ul>
  </div>

</section>

<div id="links-footer" class="links">

  <a href="https://github.com/vinyshoow" target="_blank">Github</a>
  <a href="https://www.facebook.com/Vinizikasz" target="_blank">Facebook</a>
  <a href="https://www.linkedin.com/in/vinicius-lopes-35051511b/" target="_blank">LinkedIn</a>
  
</div>

{% endblock %}