{% set bodyId = "page-courses" %} 
<!DOCTYPE html>

<html>
  <head>
    <title>Courses</title>
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body id="{{ bodyId }}">
    <header>
      <div id="menu" class="links">        
        <a href="/about">Voltar</a>
      <div>
    </header>  


    <section class="cards">

      {%for item in items%}
      <div class="card" id="{{item.id}}">
          <div class="card_image-container">
            <img src="{{item.img_url}}" alt="{{item.id}}">
          </div>
    
          <div class="card_content">
            <p>{{item.title}}</p>
          </div>
          
          <div class="card_info">
            <p>{{item.duration}}</p>
            <p class="card_price">{{item.price}}</p>
          </div>
      </div>
      {% endfor %}
      
    </section>

    {# <div class="modal-overlay maximize">
      <div class="modal">

        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>

        <a class="maximize-modal">
          <i class="material-icons">maximize</i>
        </a>

        <div class="modal-content">
          <!-- video aqui -->
          {# <iframe src="" frameborder="0"></iframe> #}

       {#  </div>
      </div> #}
    </div>

    <script src="/scriptsDesafio.js"></script>

    
  </body>

</html>