{% extends "layout.njk" %}

{% block content %}
  <div id="wrapper">
    <h1>ERROR 404 - PAGE NOT FOUND</h1>
    <p>We,re sorry, the page you requested could not be found. Please go back to the homepage or contact us at rocketseat@support.com</p>
  </div>
{% endblock %}}